<h3>{{title}}</h3>
<p>{{content}}</p>

{{#xhr.status}}
<pre class="well">
   {{i18n.ERROR}} {{xhr.status}} {{xhr.responseText}}
</pre>
{{/xhr.status}}

{{#showReloadButton}}
<button class="btn btn-primary reload">{{i18n.RELOAD}}</button>{{/showReloadButton}}
{{#showBackButton}}
<button class="btn back">{{i18n.BACK}}</button>{{/showBackButton}}
{{#showDisconnectButton}}
<button class="btn btn-primary disconnect">{{i18n.LOGOUT}}</button>{{/showDisconnectButton}}

{{#workspaces.length}}
<span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="workspace-dropdown-menu" data-toggle="dropdown">
        {{i18n.WORKSPACES}}
        <span class="caret"></span>
    </button>
    <ul style="margin-top:10px; text-align:left;" class="dropdown-menu" role="menu" aria-labelledby="workspace-dropdown-menu">
        {{#workspaces}}
        <li>
            <a class="navigate" href="#{{id}}">{{id}}</a>
        </li>
        {{/workspaces}}
    </ul>
</span>
{{/workspaces.length}}
