{{#columns}}
<td>
    {{#isDate}}
    {{#value}}
    <a class="date-popover">{{.}}</a><br/>
    {{/value}}
    {{/isDate}}

    {{#isStringArray}}
    {{#value}}
    <span class="qb-string">{{.}}</span>
    {{/value}}
    {{/isStringArray}}

    {{#isStringValue}}
    {{#value}}
        {{.}}<br/>
    {{/value}}
    {{/isStringValue}}

    {{#isLinkedDocuments}}
    {{#value}}
        <span class="qb-link"><a target="_blank" class="linkedDocument" href="{{link}}">{{name}}</a></span>
    {{/value}}
    {{/isLinkedDocuments}}

    {{#isPartNumber}}
    <span class="part_number_value">{{value}}</span>
    {{/isPartNumber}}

</td>
{{/columns}}
