<div class="actions well">
    {{> searchForm}}

    <button class="btn btn-default new-part" title="{{i18n.NEW_PART}}">
        <span class="icon"></span>
    </button>
    {{> tagsButton}}
    {{> newEffectivityButton}}
    {{> deleteButton}}
    {{> checkoutButtonGroup}}
    {{> aclButton}}
    {{> newVersionButton}}
    {{> releaseButton}}
    {{> obsoleteButton}}
    {{> newProductButton}}
    {{> importButton}}

    <div class="query-builder"></div>
    <div class="importer"></div>
</div>
<div class="notifications"></div>
{{#filter}}{{> statusFilter}}{{/filter}}
<div class="page-controls">
    <button class="btn btn-default paging-buttons first-page" title="{{i18n.FIRST_PAGE}}"><i
        class="fa fa-fast-backward"></i></button>
    <button class="btn btn-default paging-buttons previous-page" title="{{i18n.PREVIOUS_PAGE}}"><i
        class="fa fa-chevron-left"></i></button>
    <button class="btn btn-default paging-buttons current-page" title="{{i18n.GO_TO_PAGE}}"></button>
    <button class="btn btn-default paging-buttons next-page" title="{{i18n.NEXT_PAGE}}"><i
        class="fa fa-chevron-right"></i></button>
    <button class="btn btn-default paging-buttons last-page" title="{{i18n.LAST_PAGE}}"><i
        class="fa fa-fast-forward"></i></button>
    <button class="btn btn-default show-all">{{i18n.SHOW_ALL}}</button>
</div>

<div id="query_table_container">

</div>

<div id="part_table_container">
    <table id="part_table" class="table table-striped table-condensed"></table>
    <div class="content-loader-indicator before-fetch-loader">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
