<div class="header nav-list-entry">
    <a class="name" href="#{{workspaceId}}/tags/{{model.id}}">
        <i class="fa fa-tag"></i>
        {{model.label}}
    </a>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu large-entries">
            <li class="delete">
                <a>
                    <i class="fa fa-trash"></i>
                    {{i18n.DELETE}}
                </a>
            </li>
        </ul>
    </div>
</div>
